
/* I have brightened up the site, aswell as centered the site into a balanced symetrical form */
*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}
  /* Surrounding the indexing and filterring, I have sorted the catagories into the types of food, aswell as the ease of cooking the certain foods. */
:root{
  --col-01:#222323;
  --col-02:#000000;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --border: 1px solid var(--col-02);
}

/* I have used a simple black and white contrasting colour scheme for the title type as this is the most legible and accessible */

h1 {
  color:rgb(0, 0, 0);
  
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  padding: 10px;
  
  /* I decided to change the font to a more legible bold sans-serif type to improve accessibility */

  /* I also condensed the linked Urls of each recipe into a simple 'Visit Website' instead of the actual link. This link is also now clickable. */
}
h2 {
  color:rgb(0, 0, 0);
  
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
h3 {
  color:rgb(0, 0, 0);
  
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  padding: 0px;
  font-weight: normal;
}
  h4 {
    color:rgb(0, 0, 0);
    
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    padding: 0px;
}
h5 {
  color:rgb(59, 12, 12);
  
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    background-color: rgb(0, 0, 0);
    text-align: center;
    background-image:linear-gradient(rgb(255, 255, 255),rgb(110, 156, 255),rgb(255, 132, 132));
    }

    /* I have used a simple soft colour gradient from white to blue to pink to make the site a bit more interesting, aswell as make the user want to scroll up and down the page. */

.RecipeBox{

  
}

.FilterSection{

}

.FilterBox{

}

.FilterButton{
border-style:hidden;
color: #000
}


.SelectedFilter{
  color: red;
}
/* I have used the colour red as the highlight colour when the user selects a specific tab as this gives the most legible feedback to the user on which tab they have selected.*/

.RecipeLink{

}

.RecipeName{

}

.Author{

}

.RecipeImageContainer{

  }

.RecipeImg{
  size: 40%;
  color: #000000;
  border-radius: 30%;
  border-style: initial;
}
  /* I curved the edges on the images to reduce the harshness of their presentation, as recipe sites should evoke a sense of simplicity and ease. */

.Attribution{

}

.Publisher{

}

.Cuisine{

}

.TimeToCook{

}

.SkillLevel{

}

.Course{

}

.Servings{

}

.Dietary{

}

.DatePublished{

}

.DateUpdated{

}

.SpecialEquipment{

}

